<div>
  <div class="d-flex gap-3 py-1 text-center border-bottom align-items-center">
    <h4 style="flex-basis: 50%;">Usuarios</h4>
    <div style="flex-basis: 50%;" class="row justify-items-evenly align-items-center gap-3 px-3">
      <button class="btn btn-success col d-flex gap-2 justify-content-center align-items-center" (click)="changeOption(0)"><i class="fas fa-plus"></i> Crear Usuarios</button>
      <button class="btn btn-dark col d-flex gap-2 justify-content-center align-items-center" (click)="changeOption(1)"><i class="fas fa-eye"></i> Ver Usuarios</button>
    </div>
  </div>
  <div class="card p-2" style="overflow-y: auto; max-height: 80vh;">
    <table id="table-user" class="table card-body">
      <thead>
        <tr>
          <th>ID</th>
          <th>Rol</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Email</th>
          <th>Tipo Doc.</th>
          <th>Identificación</th>
          <th>Modificar</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuarios" class="align-items-center">
          <td>{{ usuario.id_usuario }}</td>
          <td>{{ usuario.rol }}</td>
          <td>{{ usuario.nombres }}</td>
          <td>{{ usuario.apellidos }}</td>
          <td>{{ usuario.email }}</td>
          <td>{{ usuario.tipo_documento }}</td>
          <td>{{ usuario.identificacion }}</td>
          <td><button (click)="modifyUser(usuario.email)" class="btn"><i class="fas fa-pen"></i></button></td>
          <td><button (click)="confirmDelete(usuario.email)" class="btn"><i class="fas fa-trash"></i></button></td>
        </tr>
      </tbody>
    </table>

    <div class="d-none" id="create-user">
      <form action="" class="d-flex flex-column gap-3">
        <div class="d-flex justify-content-between" id="div-identification">
          <div style="flex-basis: 30%;" class="input-form">
            <label for="">Nombres</label>
            <label id="warn_name" class="d-none text-danger" for="">El nombre no puede estar vacío</label>
            <input class="form-control" [(ngModel)]="name" type="text" name="name" placeholder="Ingrese su Nombre">
          </div>

          <div style="flex-basis: 30%;" class="input-form">
            <label for="">Apellidos</label>
            <label id="warn_surname" class="d-none text-danger" for="">El apellido no puede estar vacío</label>
            <input class="form-control" [(ngModel)]="surname" type="text" name="surname" placeholder="Ingrese sus Apellidos">
          </div>

          <div style="flex-basis: 30%;" class="input-form">
            <label for="">Celular</label>
            <label id="warn_phone" class="d-none text-danger" for="">El celular no puede estar vacío</label>
            <input class="form-control" [(ngModel)]="number" name="cellphone" placeholder="Ingrese su Número" type="number" min="0" oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null">
          </div>
        </div>
        <div class="d-flex justify-content-between" id="div-credential">
          <div style="flex-basis: 30%;" class="input-form">
            <label for="">Email</label>
            <label id="warn_email" class="d-none text-danger" for="">El correo ingresado no es válido</label>
            <input class="form-control" [(ngModel)]="email" type="text" name="email" placeholder="Ingrese su Email">
          </div>

          <div style="flex-basis: 30%;" class="input-form show-or-hide">
            <label for="">Contraseña</label>
            <label id="warn_pass" class="d-none text-danger" for="">Debe tener mínimo 8 carácteres</label>
            <input class="form-control" [(ngModel)]="password" type="password" name="password" placeholder="Ingrese su Contraseña">
          </div>

          <div style="flex-basis: 30%;" class="input-form show-or-hide">
            <label for="">Confirmar contraseña</label>
            <label id="warn_con_pass" class="d-none text-danger" for="">No coinciden</label>
            <input class="form-control" [(ngModel)]="confirm_pass" type="password" name="con-password" placeholder="Confirme su contraseña">
          </div>
        </div>
        <div class="d-flex justify-content-between" id="div-personalinfo">
          <div style="flex-basis: 30%;" class="input-form">
            <label for="">Género</label>
            <select class="form-select" #genders (change)="changeGender(genders.value)">
              <option selected>Masculino</option>
              <option>Femenino</option>
              <option>Prefiero no decirlo</option>
            </select>
          </div>

          <div style="flex-basis: 30%;" class="input-form show-or-hide">
            <label for="">Tipo de documento</label>
            <select class="form-select" #doctypes (change)="changeDocType(doctypes.value)">
              <option selected>Cédula de Ciudadanía</option>
              <option>Tarjeta de Identidad</option>
            </select>
          </div>

          <div style="flex-basis: 30%;" class="input-form show-or-hide">
            <label for="">Documento</label>
            <label id="warn_doc" class="d-none text-danger" for="">El documento no puede estar vacío</label>
            <input class="form-control" [(ngModel)]="document" name="document" placeholder="Ingrese su Número de Documento" type="number" min="0" oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null">
          </div>
        </div>
        <div class="d-flex justify-content-between" id="div-date">
          <div style="flex-basis: 30%;" class="input-form show-or-hide">
            <label for="">Fecha de nacimiento</label>
            <label id="warn_birth" class="d-none text-danger" for="">Seleccione una fecha de nacimiento</label>
            <label id="warn_birth_more" class="d-none text-danger" for="">Debe tener mas de 16 años</label>
            <input class="form-control" [(ngModel)]="birthdate" type="date" name="birthdate">
          </div>
          <div style="flex-basis: 30%;" class="input-form show-or-hide">
            <label for="">Rol</label>
            <select class="form-select" #rol (change)="changeRol(rol.value)">
              <option selected>Cliente</option>
              <option>Administrador</option>
            </select>
          </div>
          <div style="flex-basis: 30%;" class="input-form div-btn d-flex align-items-end">
            <button class="btn btn-primary btn-create-user w-100" (click)="registerUser()">Crear</button>
          </div>
        </div>
      </form>
    </div>


    <div class="d-none" id="modify-user">
      <form action="" class="d-flex flex-column gap-2">
        <div class="column-form-modify" id="div-identification">
          <div class="input-form">
            <label for="">Nombres</label>
            <input class="form-control" [(ngModel)]="name" type="text" name="name" placeholder="Ingrese su Nombre">
          </div>

          <div class="input-form">
            <label for="">Apellidos</label>
            <input class="form-control" [(ngModel)]="surname" type="text" name="surname" placeholder="Ingrese sus Apellidos">
          </div>
        </div>
        <div class="column-form-modify" id="div-credential">
          <div class="input-form">
            <label for="">Celular</label>
            <input class="form-control" [(ngModel)]="number" name="cellphone" placeholder="Ingrese su Número" type="number" min="0" oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null">
          </div>
          <div class="input-form">
            <label for="">Género</label>
            <select class="form-select" #genders (change)="changeGender(genders.value)">
              <option selected>Masculino</option>
              <option>Femenino</option>
              <option>Prefiero no decirlo</option>
            </select>
          </div>
        </div>
        <div class="input-form div-btn-modify d-flex justify-content-center w-100">
          <button class="btn btn-primary btn-modify-user w-75" (click)="saveChanges()">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container mt-3">
  <div class="modal fade" id=infoModal>
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modificación Exitosa</h5>
          <button class="btn btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body" id="modal-body">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-3">
  <div class="modal fade" id=deleteModal>
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Eliminación de usuario</h5>
          <button class="btn btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body" id="modal-body">
          ¿ Está seguro que desea eliminar al usuario {{emailToDelete}} ?
        </div>
        <div class="modal-footer">
          <button class="btn btn-danger" (click)="deleteUser()">Eliminar</button>
        </div>
      </div>
    </div>
  </div>
</div>
